@model SistemaCarteirinha.Models.Pessoa


@section Scripts {
    <script src="~/js/detalhes.js"></script>
}

<div class="form-group pf">
    <label>CPF:</label>
    <input type="text" id="Cpf" class="form-control" readonly>
</div>
<div class="form-group pf">
    <label>Nome:</label>
    <input type="text" id="Nome" class="form-control" readonly>
</div>
<div class="form-group pf">
    <label>Sexo:</label>
    <input type="text" id="Sexo" class="form-control" readonly>
</div>
<div class="form-group pf">
    <label>Data Nascimento:</label>
    <input type="text" id="DtNascimento" class="form-control" readonly>
</div>
<div class="form-group pf">
    <label>RG:</label>
    <input type="text" id="Rg" class="form-control" readonly>
</div>

<div class="form-group pj">
    <label>CNPJ:</label>
    <input type="text" id="Cnpj" class="form-control" readonly>
</div>
<div class="form-group pj">
    <label>Razão Social:</label>
    <input type="text" id="RazaoSocial" class="form-control" readonly>
</div>
<div class="form-group pj">
    <label>Nome Fantasia:</label>
    <input type="text" id="NomeFantasia" class="form-control" readonly>
</div>

<div class="form-group">
    <label>Endereço:</label>
    <input type="text" id="Endereco" class="form-control" readonly>
</div>
<div class="form-group">
    <label>Telefone:</label>
    <input type="text" id="Telefone" class="form-control" readonly>
</div>
<div class="form-group">
    <label>E-mail:</label>
    <input type="text" id="Email" class="form-control" readonly>
</div>

<br />

