@model SistemaCarteirinha.Models.Pessoa

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de Clientes</h1>
</div>

<div>
    <a title="Cadastrar PJ" href="/Home/CadastroPJ" class="btn btn-primary">Cadastrar PJ</a>
    <a title="Cadastrar PF" href="/Home/CadastroPF" class="btn btn-primary">Cadastrar PF</a>
</div>

<div style="padding: 40px">
    <table id="tabelaClientes" class="display" cellspacing="0" width="1000">
        <thead>
            <tr>
                <th class="sorting">Cpf</th>
                <th class="sorting">Nome</th>
                <th class="sorting">Rg</th>
                <th class="sorting">Cnpj</th>
                <th class="sorting">Razao Social</th>
                <th class="sorting">Nome Fantasia</th>
                <th class="sorting">Ações</th>
            </tr>
        </thead>
    </table>
</div>

<div id="ModalDetalhes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mx-auto">Detalhes</h5>
                <button type="button" class="close" onclick="fecharModal()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script src="~/js/index.js"></script>
}
