@model SistemaCarteirinha.Models.Pessoa

@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Lista de Clientes</h1>
</div>

<div>
    <a title="Cadastrar PJ" href="/Home/CadastroPJ" class="btn btn-primary">Cadastrar PJ</a>
    <a title="Cadastrar PF" href="/Home/CadastroPF" class="btn btn-primary">Cadastrar PF</a>
</div>

<div style="padding: 40px">
    <table id="tabelaClientes" class="display" cellspacing="0" width="1000">
        <thead>
            <tr>
                <th class="sorting">Cpf</th>
                <th class="sorting">Nome</th>
                <th class="sorting">Rg</th>
                <th class="sorting">Cnpj</th>
                <th class="sorting">Razao_social</th>
                <th class="sorting">Nome_fantasia</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var url = @Url.Action("BuscarClientes", "Api");

            $("#tabelaClientes").DataTable({
                "pageLength": 10,
                "ajax": {
                    "url": url,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Cpf", "title": "CPF",    "targets": 0, "autowidth": true },
                    { "data": "Nome", "title": "Nome",  "targets": 1, "autowidth": true },
                    { "data": "Rg", "title": "RG",      "targets": 2, "autowidth": true },
                    { "data": "Cnpj", "title": "CNPJ",  "targets": 3, "autowidth": true },
                    { "data": "RazaoSocial", "title": "Razão Social",   "targets": 4, "autowidth": true },
                    { "data": "NomeFantasia", "title": "Nome Fantasia", "targets": 5, "autowidth": true }
                ],
                "oLanguage": {
                    "sProcessing": "A processar...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                    "sSearch": "Procurar:",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                }
            });
        });

    </script>
}

